{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}

<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img src="{{ object.img_preview | mymedia }}">
            <div class="card-body">
                <p class="card-text">{{ object.name|title }}</p>
                <p class="card-text">{{ object.description }}</p>
                <p class="card-text">{{ object.pur_price }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}